<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title> - 1paid</title>
        <link rel="icon" href="favicon.png">
    </head>
    <body>
            <div class="layout w-screen">
                <div class="layout-grid">
                    {% include 'left-menu.twig' %}
                    <!-- PAGE -->
                    <div class="layout-page _lf-row">
                        <div class="layout-lf">
                            <div class="lf _lf-row">
                                <div class="lf-h">
                                    <div class="lf-bar">
                                        <div class="lf-inf">
                                            <div class="lf-inf-ind">
                                                <div class="lf-inf-ind-point"></div>
                                            </div>
                                            <div class="lf-inf-inner">
                                                <div class="lf-inf-ind-value">2 381</div>
                                                <div class="lf-inf-ind-label">Online</div>
                                            </div>
                                        </div>
                                        <div class="lf-toggle" title="Переключить вид">
                                            <img src="/img/icon-lf-toggle.svg" alt="icon-lf-toggle">
                                        </div>
                                    </div>
                                    <div class="lf-change">
                                        <label class="lf-change-item">
                                            <input type="radio" name="lf_type" value="1" checked>
                                            <div class="lf-change-btn">
                                                <div class="lf-change-icon">
                                                    <img src="/img/icon-tsc-item-btn-2.svg" alt="lf-change-icon">
                                                </div>
                                            </div>
                                        </label>
                                        <label class="lf-change-item">
                                            <input type="radio" name="lf_type" value="1">
                                            <div class="lf-change-btn">
                                                <div class="lf-change-icon">
                                                    <img src="/img/icon-lf-change-icon-2.svg" alt="lf-change-icon">
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="lf-feed">
                                    <div class="lf-feed-track">
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                   <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-blue.6568b466.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-violet.2050f5bf.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-pink.17c520f2.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                        <div class="lf-item">
                                            <img class="lf-item-pic" src="/img/case-gold.dea4179e.png" alt="case">
                                            <div class="lf-item-plate">
                                                <div class="lf-item-avatar">
                                                    <img src="/img/avatar-example-1.efb6cc72.png" alt="case">
                                                </div>
                                                <div class="lf-item-name" title="Santcese">Santcese</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="layout-h">
                            <div class="h-wrapper">
                                <header class="h justify-between header">
                                    {% include 'partials/header.twig' %}
                                </header>
                            </div>
                            <!--div class="hm">
                                <div class="hm-inner px-5 flex items-center justify-between">
                                    <div class="hm-logo">
                                        <div class="logo w-[180px] 3xl:w-[150px] xl:w-[120px] lg:w-auto lg:flex-shrink-1 lg:basis-[130px]">
                                            <img class="logo__dots lg:h-[100%] xl:w-1/2" src="/img/dots-1.82560447.svg" alt="1paid.ru">
                                            <img class="logo-pic" src="/img/logo.7fb09570.svg" alt="1paid.ru">
                                        </div>
                                    </div>
                                    <div class="hm-bar flex items-center gap-2.5">
                                        <div class="hm-notif flex-shrink-0">
                                            <div class="notif">
                                                <button class="btn btn-secondary notif-btn rounded-full w-11 h-11 justify-center cursor-pointer lg:w-[50px] lg:h-[50px]">
                                                    <div class="btn-icon text-white">
                                                        <img src="/img/icon-btn-icon-2.svg" alt="btn-icon">
                                                    </div>
                                                </button>
                                                <div class="notif-content rounded-xl bg-white w-[290px] py-6">
                                                    <div class="notif-h px-3 flex items-center justify-between flex-wrap gap-2.5 font-secondary-bold text-sm">
                                                        <div class="notif-heading text-black">
                                                            <span>Уведомления <span class="extra text-[color:var(--color-green-main)]">(+4)</span>
                                                            </span>
                                                        </div>
                                                        <div class="notif-total text-[#C8D5ED]">(43)</div>
                                                    </div>
                                                    <div class="notif-b mt-6">
                                                        <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                                                            <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                                                                <div class="btn-icon">
                                                                    <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                                                                </div>
                                                            </div>
                                                            <div class="notif-item-inf flex-grow">
                                                                <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                                                    <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                                                    <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                                                                </div>
                                                                <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                                                            </div>
                                                        </div>
                                                        <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                                                            <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                                                                <div class="btn-icon">
                                                                    <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                                                                </div>
                                                            </div>
                                                            <div class="notif-item-inf flex-grow">
                                                                <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                                                    <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                                                    <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                                                                </div>
                                                                <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                                                            </div>
                                                        </div>
                                                        <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                                                            <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                                                                <div class="btn-icon">
                                                                    <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                                                                </div>
                                                            </div>
                                                            <div class="notif-item-inf flex-grow">
                                                                <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                                                    <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                                                    <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                                                                </div>
                                                                <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                                                            </div>
                                                        </div>
                                                        <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                                                            <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                                                                <div class="btn-icon">
                                                                    <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                                                                </div>
                                                            </div>
                                                            <div class="notif-item-inf flex-grow">
                                                                <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                                                    <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                                                    <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                                                                </div>
                                                                <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="notif-btnall mt-5 w-full border-b border-[#ECEDF7] py-1 flex justify-center duration-200 hover:bg-[#F6F9FF]" href="#">
                                                        <div class="btn-text font-primary-bold text-sm text-[#C5CFE4]">Показать все</div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hm-profile flex-shrink-0 hidden">
                                            <button class="btn btn-orange hm-profile-btn flex-shrink-0 rounded-full w-[50px] h-[50px] flex items-center justify-center text-white">
                                                <img src="/img/btn-orange.svg" alt="btn-orange">
                                            </button>
                                            <div class="hm-profile-content rounded-xl bg-white w-[290px] py-3 lg:w-[320px]">
                                                <div class="pmc h-14 rounded-full px-3 flex items-center gap-x-3 bg-white lg:mx-3 lg:bg-[#f6f9ff] lg:h-auto lg:min-h-[50px] lg:py-2">
                                                    <div class="pmc-avatar flex-shrink-0 rounded-full w-8 h-8 lg:w-10 lg:h-10">
                                                        <img class="w-full h-full object-cover" src="/img/avatar-example-2.9f0c98b7.png" alt="user avatar">
                                                    </div>
                                                    <div class="pmc-chip-bar flex gap-x-3 gap-y-2 items-center lg:flex-wrap lg:ml-auto">
                                                        <a class="pmc-chip border rounded-full border-[#DCF1C4] px-2 py-1 flex items-center gap-x-2 duration-200 hover:bg-[#DCF1C4]" href="#">
                                                            <span class="font-primary-bold text-xs text-black whitespace-nowrap">1 521 100PD</span>
                                                        </a>
                                                        <a class="pmc-chip border rounded-full border-[#D2DFFB] px-2 py-1 flex items-center gap-x-2 duration-200 hover:bg-[#D2DFFB]" href="#">
                                                            <span class="font-primary-bold text-xs text-black whitespace-nowrap">533 100₽</span>
                                                            <img class="pmc-chip-icon w-4 h-4" src="/img/icon-plus-blue.a12eb4f0.svg" alt="picture">
                                                        </a>
                                                    </div>
                                                    <div class="pmc-card-arrow h-profile-btn-open ml-auto text-[#D6D9EA] cursor-pointer hover:text-black lg:hidden">
                                                        <img src="/img/pmc-card-arrow.svg" alt="pmc-card-arrow">
                                                    </div>
                                                </div>
                                                <div class="mt-3">
                                                </div>
                                                <div class="np hidden">
                                                    <nav class="np-nav">
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/np-nav-icon.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Мои профиль</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/np-nav-icon-2.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Мои товары</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-4.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Стол заказов</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-5.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Достижения</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-6.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Настройки</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-7.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Пополение и вывод</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-8.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Реферальная система</div>
                                                        </a>
                                                        <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                                                            <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                                                                <img src="/img/icon-np-nav-icon-9.svg" alt="np-nav-icon">
                                                            </div>
                                                            <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Выйти из аккаунта</div>
                                                        </a>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hm-btn-menu mmenu-open flex-shrink-0 w-[50px] h-[50px] flex justify-center items-center flex-col gap-4 cursor-pointer">
                                            <span class="w-[30px] h-[3px] bg-white rounded-full"></span>
                                            <span class="w-[30px] h-[3px] bg-white rounded-full"></span>
                                        </div>
                                    </div>
                                </div>
                            </div-->
                        </div>
                        <div class="layout-b pb-4 px-4 xl:px-9 min-w-0">
                            <div class="prsl my-6 rounded-md min-h-[100px] flex justify-between items-center">
                                <div class="swiper prsl-slider w-full h-full px-4">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="prsl-item flex items-center justify-between gap-4 flex-wrap 2md:flex-col 2md:gap-2">
                                                <div class="prsl-item-inf flex justify-center items-center gap-6">
                                                    <div class="prsl-item-pic w-[180px] flex justify-center items-center ml-6">
                                                        <img class="w-full img-r" src="/img/raffle.161f3412.png" alt="raffle">
                                                    </div>
                                                    <div class="prsl-item-award flex items-center gap-2 sm:gap-1">
                                                        <div class="prsl-item-award-pic flex-shrink-0 w-17 h-17 flex justify-center items-center">
                                                            <img class="w-full h-full" src="/img/icon-game-rank-1.476389b0.svg" alt="award">
                                                        </div>
                                                        <div class="prsl-item-award-inf">
                                                            <div class="prsl-item-award-title font-secondary-bold text-base text-white">Аккаунт Warface</div>
                                                            <div class="prsl-item-award-subtitle mt-1.5 font-secondary-bold text-sm text-white/40">25 Ранг</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="prsl-item-bar flex justify-center items-center gap-4 ">
                                                    <a class="prsl-item-btn  btn-primary rounded w-[180px] h-10 justify-center items-center flex " href="#">
                                                        <div class="font-secondary-med text-w text-[15px] text-white">Присоединиться</div>
                                                    </a>
                                                    <div class="timer flex items-center gap-1">
                                                        <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                            <div class="circle-progress" data-percent="80" data-measure="67" data-measure-640="44">
                                                                <img src="/img/icon-circle-progress.svg" alt="circle-progress">
                                                            </div>
                                                            <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                                <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">24</div>
                                                                <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">часа</div>
                                                            </div>
                                                        </div>
                                                        <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                            <div class="circle-progress mt-4" data-percent="60" data-measure="67" data-measure-640="44">
                                                                <img src="/img/icon-circle-progress-2.svg" alt="circle-progress">
                                                            </div>
                                                            <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                                <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">44</div>
                                                                <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">минуты</div>
                                                            </div>
                                                        </div>
                                                        <div class="timer-item relative flex-shrink-0 flex justify-center items-center w-[67px] h-[67px]">
                                                            <div class="circle-progress" data-percent="5" data-measure="67" data-measure-640="44">
                                                                <img src="/img/icon-circle-progress-3.svg" alt="circle-progress">
                                                            </div>
                                                            <div class="timer-item-inf absolute flex flex-col items-center justify-center  w-full h-full z-[1]">
                                                                <div class="timer-value font-primary-med text-center text-lg text-white leading-none 3sm:text-xs">05</div>
                                                                <div class="timer-value font-primary-bold text-center text-[11px] text-white/60 leading-none 3sm:hidden">секунд</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination prsl-pag">
                                    <div class="prsl-pag-item"></div>
                                    <div class="prsl-pag-item prsl-pag-item-active"></div>
                                    <div class="prsl-pag-item"></div>
                                </div>
                                <div class="prsl-btn prsl-btn-prev">
                                    <div class="btn-icon">
                                        <img src="/img/icon-btn-icon.svg" alt="btn-icon">
                                    </div>
                                </div>
                                <div class="prsl-btn prsl-btn-next">
                                    <div class="btn-icon">
                                        <img src="/img/icon-btn-icon-4.svg" alt="btn-icon">
                                    </div>
                                </div>
                            </div>
                            <div class="sh flex justify-between items-center gap-x-3 mt-10 mb-10">
                                <div class="img-hid">
                                    <img src="/img/icon-btn-13.svg" alt="btn-icon">
                                </div>
                                <div class="sh-title flex flex-col justify-center items-center">
                                    <h2 class="sh-title-text font-secondary-bold text-bold text-2xl text-black">Выбор игры</h2>
                                    <div class="sh-title-line mt-2 rounded-full w-9 h-1 2md:mt-2 bg-gradient-primary">
                                    </div>
                                </div>
                                <div class="sh-bar flex items-center gap-2 2md:w-full 2md:flex-row-reverse">
                                    <div class="sh-search rounded-full h-[50px] px-6 max-w-[270px] w-full flex items-center bg-[#E8EAF7] 2md:max-w-none 2md:flex-grow 2md:h-10 2md:px-3">
                                        <button class="sh-search-icon bg-inherit flex-shrink-0 w-4 h-full [&amp;_svg]:w-full flex justify-center items-center text-[#B8BACF] duration-100 hover:text-black">
                                            <img src="/img/icon-sh-search-icon.svg" alt="sh-search-icon">
                                        </button>
                                        <input class="sh-search-input flex-grow ml-2.5 w-full h-full bg-transparent font-primary-med text-base text-black 2md:text-sm" placeholder="Поиск">
                                    </div>
                                </div>
                            </div>
                            <div class="sgc mt-10 md:mt-5">
                                <div class="sgc-grid grid grid-cols-2 gap-[30px] 3xl:gap-5 2sm:grid-cols-1">
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-warface.9e636275.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-warface.75063d1d.png" alt="Warface">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Warface</h3>
                                        </div>
                                        <div class="gc-badges">
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                                <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Пин-коды</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Буст РМ</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Спецоперации</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Статистика</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Кредиты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Достижения</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75 " href="#">Прочее</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-dota2.badc2a3f.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-dota2.c7d69ebf.png" alt="Dota 2">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Dota 2</h3>
                                        </div>
                                        <div class="gc-badges">
                                            <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                                <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                            </div>
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                                <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Привязки VHS</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Предметы</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст MMR</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Калибровка</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Отмыв ЛП</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги Dota+</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Боевой пропуск</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Отмыв ЛП</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Ещё...</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center ">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-csgo.6235c5a2.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-csgo.b5c3b06d.png" alt="Counter-Strike GO">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Counter-Strike GO</h3>
                                        </div>
                                        <div class="gc-badges">
                                            <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                                <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                            </div>
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                                <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Prime</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Скины</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-gta5.99ca99e5.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-gta5.a916b090.png" alt="GTA V RP">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">GTA V RP</h3>
                                        </div>
                                        <div class="gc-badges">
                                            <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                                <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                            </div>
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                                <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Деньги</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Ключи</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-fortnite.6a6e51b5.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-fortnite.2e93362c.png" alt="Fortnite">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">Fortnite</h3>
                                        </div>
                                        <div class="gc-badges">
                                            <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                                <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                            </div>
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                                <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Предметы</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Услуги</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">B-баксы</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Донат</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="gc relative overflow-hidden rounded-lg p-5">
                                        <div class="gc-bg absolute z-[1] top-0 left-0 w-full h-full">
                                            <img class="relative z-[1] w-full h-full object-cover object-center" src="/img/game-card-bg-wot.f2291c2b.png" alt="picture">
                                        </div>
                                        <div class="gc-icon">
                                            <div class="gc-icon-pic overflow-hidden rounded-full w-16 h16 xl:w-12 xl:h-12 md:w-10 md:h-10">
                                                <img class="w-full h-full object-cover" src="/img/icon-wot.78a9639e.png" alt="World of Tanks">
                                            </div>
                                        </div>
                                        <div class="gc-title">
                                            <h3 class="font-secondary-bold text-2xl text-white xl:text-xl md:text-lg">World of Tanks</h3>
                                        </div>
                                        <div class="gc-badges">
                                            <div class="gc-badge-bar flex justify-end items-start flex-wrap gap-2">
                                                <div class="gc-badge rounded-full py-2 px-5 h-auto inline-flex justify-center items-center font-secondary-bold text-xs text-white bg-gradient-primary">new</div>
                                            </div>
                                        </div>
                                        <div class="gc-vplay cursor-pointer flex flex-col items-center">
                                            <div class="gc-vplay-icon w-[42px] h-[42px] [&amp;_svg]:w-full md:w-[44px] md:h-[44px]">
                                               <img src="/img/icon-gc-vplay-icon.svg" alt="gc-vplay-icon">
                                            </div>
                                            <div class="gc-vplay-label font-secondary-bold text-center text-[10px] text-white md:hidden">Video</div>
                                        </div>
                                        <div class="gc-tags-wrap">
                                            <div class="gc-tags">
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Аккаунты</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Бонус-коды</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Буст</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Фарм серебра</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Выполнение ЛБЗ</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Обучение</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Золото</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Кланы</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Донат</a>
                                                <a class="gc-tags-item font-secondary-med text-sm text-white hover:text-white/75" href="#">Прочее</a>
                                            </div>
                                        </div>
                                        <div class="gc-btn rounded-full border border-solid border-white w-[160px] h-11 flex items-center justify-between bg-transparent cursor-pointer ">
                                            <div class="gc-btn-label flex-grow px-2 font-secondary-bold text-center text-xs text-white">Перейти</div>
                                            <button class="gc-btn-subbtn btn btn-secondary flex-shrink-0 relative right-[-2px] rounded-full w-11 h-11 justify-center">
                                                <div class="btn-icon text-white w-1/2 [&amp;_svg]:w-full">
                                                    <img src="/img/icon-btn-icon-11.svg" alt="btn-icon">
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="sgc-f flex justify-center mt-10 ">
                                    <button class="sgc-btn-more rounded-full h-[60px] flex items-center justify-center px-12 bg-[#E3E9F5] duration-200 hover:bg-[#d3d7e0]">
                                        <div class="btn-text font-secondary-bold text-base text-[#B9C3D6]">Показать еще 25</div>
                                    </button>
                                </div>
                            </div>
                            <div class="layout-b-f flex justify-between mt-6 mb-6">
                                <button class="layout-btn-totop scroll-to-top rounded-full w-16 h-16 flex items-center justify-center bg-[#D7DFF5] hover:bg-[#d0d8f3] shadow-2xl 3sm:w-11 3sm:h-11">
                                    <div class=" flex items-center ">
                                        <img src="/img/icon-btn-icon-12.svg" alt="btn-icon">
                                    </div>
                                </button>
                                <button class="layout-btn-openchat open-fast-chat rounded-full rounded-br-none w-[65px] h-[65px] flex items-center justify-center bg-gradient-primary shadow-2xl 3sm:w-11 3sm:h-11">
                                    <div class="btn-icon text-[#BDC6E0] w-[22px] h-[19px] [&amp;_svg]:w-full [&amp;_svg]:h-full text-white">
                                        <img src="/img/icon-btn-icon-13.svg" alt="btn-icon">
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="fa-wrapper bg-white/30 top-0 left-0 min-h-screen h-full w-full absolute z-20">
                            <div class="fa flex flex-col items-center bg-white h-full w-full max-w-[440px] float-right right-0 relative">
                                <div class="fa-head relative w-full mb-[12px]">
                                    <div class="pc-plate-container">
                                        <div class="pc-plate bg-gradient-primary _shadow-primary py-1 px-6 3sm:px-2 3sm:py-[1px] rounded-b-[22px]">Быстрый доступ</div>
                                    </div>
                                    <div class="fa-btn-close flex-shrink-0 w-4 h-4 [&amp;_svg]:w-[100%] [&amp;_svg]:h-[100%] text-[#D6D9EA] cursor-pointer float-right mr-[30px] mt-[30px] 2md:block">
                                        <img src="/img/icon-fa-btn-close.svg" alt="fa-btn-close">
                                    </div>
                                </div>
                                <div class="tabs flex items-center font-primary-bold text-[14px] h-[54px] overflow-hidden flex-wrap text-[#8A98B3] p-[24px]">
                                    <button class="tabs-tab block uppercase mr-4 last:mr-0">
                                        <div class="tabs-tab-text text-black/90">Чат с поддержкой</div>
                                        <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 bg-gradient-primary">
                                        </div>
                                    </button>
                                    <button class="tabs-tab block uppercase mr-4 last:mr-0">
                                        <div class="tabs-tab-text text-[#8A98B3]">мои диалоги</div>
                                        <div class="tabs-tab-line mt-1 mx-auto rounded-full w-full h-1 false">
                                        </div>
                                    </button>
                                </div>
                                <div class="fa-content flex-grow w-full overflow-hidden">
                                    <div class="chat flex flex-col bg-white font-primary-med px-[22px] text-[#8FA0C3] w-full">
                                        <div class="chat-head-wrapper flex justify-between items-center text-[14px] mb-[22px]">
                                            <div class="chat-head flex items-center">
                                                <div class="chat-head-avatars flex">
                                                    <div class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]">
                                                        <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                            <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="chat-head-user flex flex-col">
                                                    <div class="chat-head-username flex font-secondary-bold text-md text-black">Support</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-messages flex flex-col flex-grow justify-end text-[12px]">
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                                <div class="chat-message-user flex self-end">
                                                    <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                        <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                            <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-first false">
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                                <div class="chat-message-user flex self-end">
                                                    <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                        <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                            <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-last false">
                                                <div class="chat-message-user flex self-end">
                                                    <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                        <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                            <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-bot.1e9be783.png" alt="user">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-[#8A959F] text-[12px] mr-[4px]">22:03</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-first chat-message-out">
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ? ты когда решил покупать товар этот будешь. Давай завтра вечером в 19:00 я готов продать дома буду как раз и мы все сделаем с тобой <div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                                        <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                                    </div>
                                                    <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                                </div>
                                            </div>
                                            <div class="chat-message flex items-center max-w-[364px] chat-message-last chat-message-out">
                                                <div class="chat-message-user flex self-end">
                                                    <a class="fm-message-avatar-wrapper flex-shrink-0 overflow-hidden relative bg-white rounded-full p-[6px]" href="#">
                                                        <div class="fm-message-avatar flex-shrink-0 w-[40px] h-[40px] overflow-hidden rounded-full">
                                                            <img class="sps-avatar-pic w-full h-full object-cover" src="/img/avatar-example-1.efb6cc72.png" alt="user">
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="chat-message-content block items-end text-black p-[8px] text-[14px] break-words whitespace-pre-wrap rounded-[12px] relative">Привет, как дела ?<div class="chat-message-info flex items-center float-right bottom-0 ml-[4px] mr-[-4px] mt-[6px]">
                                                        <span class="chat-message-time text-white text-[12px] mr-[4px]">22:03</span>
                                                        <img src="/img/icon-chat-message-time.svg" alt="chat-message-time">
                                                    </div>
                                                    <img src="/img/icon-chat-message-time-2.svg" alt="chat-message-time">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="chat-form flex flex-col mt-[24px]">
                                            <div class="rating flex justify-center items-center w-full mx-auto mb-[24px]">
                                                <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                    <img src="/img/icon-rating-star.svg" alt="rating-star">
                                                </span>
                                                <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                    <img src="/img/icon-rating-star.svg" alt="rating-star">
                                                </span>
                                                <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                    <img src="/img/icon-rating-star.svg" alt="rating-star">
                                                </span>
                                                <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 rating-full">
                                                    <img src="/img/icon-rating-star.svg" alt="rating-star">
                                                </span>
                                                <span class="rating-star flex cursor-pointer mr-[5px] last:mr-0 ">
                                                    <img src="/img/icon-rating-star.svg" alt="rating-star">
                                                </span>
                                            </div>
                                            <div class="chat-tech-types no-scrollbar flex items-center mx-auto mb-[24px] px-[12px] max-w-[100%] font-secondary-med text-[14px] overflow-x-scroll">
                                                <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Финансы</div>
                                                <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Сделка</div>
                                                <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full cursor-pointer">Форум</div>
                                                <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black mr-[12px] py-[8px] px-[16px] rounded-full whitespace-nowrap cursor-pointer">Нашел ошибку</div>
                                                <div class="chat-tech-types flex items-center bg-[#E9EDF5] hover:bg-[#D1D5DB] text-black py-[8px] px-[16px] rounded-full cursor-pointer">Другое</div>
                                            </div>
                                            <div class="chat-input flex items-center bg-white font-secondary-med p-[16px] border border-[#E4E9F4] rounded-[12px] w-full">
                                                <input class="chat-input-input text-black w-full h-full outline-none placeholder:text-[#BAC9E5] text-[14px]" placeholder="Вставьте содержимое товара...">
                                                <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[26px] h-[20px] mr-[24px]">
                                                    <img src="/img/icon-chat-input-btn.svg" alt="chat-input-btn">
                                                </button>
                                                <button class="chat-input-btn flex-shrink-0 flex justify-center items-center w-[w-22px] h-[20px]">
                                                    <img src="/img/icon-chat-input-btn-2.svg" alt="chat-input-btn">
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="root"></div>
                <footer class="footer flex justify-between items-center flex-wrap gap-8 text-sm py-10 px-20 3xl:px-10 2md:flex-col 2md:p-5 2md:gap-4 2md:text-center">
                    <div class="footer-copy max-w-sm 2md:max-w-none 2md:order-1 2md:text-xs ">1paid.ru — Маркетплейс по продажам цифровых товаров. © 2023, Все права защищены.</div>
                    <div class="footer-list flex flex-wrap gap-x-8 gap-y-2.5 2md:flex-col">
                        <a class="hover:text-white duration-200" href="#">Пользовательское соглашение</a>
                        <a class="hover:text-white duration-200" href="#">Контакты</a>
                        <a class="hover:text-white duration-200" href="#">Частые вопросы</a>
                    </div>
                    <div class="footer-soc flex gap-5 2md:flex-wrap 2md:justify-center">
                        <a class="shrink-0 leading-none duration-200" href="#">
                            <img class="footer-soc-icon" src="/img/icon-inst-grey.62109207.svg" alt="instagram">
                        </a>
                        <a class="shrink-0 leading-none duration-200" href="#">
                            <img class="footer-soc-icon" src="/img/icon-discord-grey.c77ff220.svg" alt="discrod">
                        </a>
                        <a class="shrink-0 leading-none duration-200" href="#">
                            <img class="footer-soc-icon" src="/img/icon-vk-grey.349c1aa3.svg" alt="vk">
                        </a>
                        <a class="shrink-0 leading-none duration-200" href="#">
                            <img class="footer-soc-icon" src="/img/icon-yt-grey.4134affa.svg" alt="youtube">
                        </a>
                    </div>
                </footer>
            </div>
            <div class="mmenu pt-8 pb-8 px-12">
                <div class="mmenu-close flex-shrink-0 w-[50px] h-[50px] flex justify-center items-center flex-col gap-4 cursor-pointer">
                    <span class="w-[30px] h-[3px] bg-white rounded-full">
                    </span>
                    <span class="w-[30px] h-[3px] bg-white rounded-full">
                    </span>
                </div>
                <div class="mmenu-nav flex gap-x-4">
                    <nav class="nav flex gap-x-5 gap-y-5 flex-wrap mx-4 3xl:gap-x-2.5 lg:flex-col lg:items-start lg:gap-y-8">
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Главная</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Каталог</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Топ юзеров</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Отзывы</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Гарантии</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Случайные предметы</a>
                        <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm lg:text-white/30" href="#">Форум</a>
                    </nav>
                </div>
                <div class="mmenu-pnav pt-8 max-w-[400px]">
                    <div class="navpin">
                        <a class="navpin-item mt-[30px] first-of-type:mt-0 3xl:mt-4" href="#">
                            <div class="navpin-plate">
                                <img class="navpin-plate-pic" src="/img/link-pin-plate.6d928d3b.svg" alt="dots">
                                <img class="navpin-plate__dots-1" src="/img/dots-1.82560447.svg" alt="dots">
                                <img class="navpin-plate__dots-2" src="/img/dots-1.82560447.svg" alt="dots">
                                <div class="navpin-plate-icon">
                                    <img src="/img/icon-navpin-plate-icon.svg" alt="navpin-plate-icon">
                                </div>
                            </div>
                            <div class="navpin-text text-sm uppercase ml-7 3xl:text-xs 3xl:ml-4 xl:ml-2 xl:text-[10px] lg:text-xs">Продать товар</div>
                        </a>
                        <a class="navpin-item mt-[30px] first-of-type:mt-0 3xl:mt-4" href="#">
                            <div class="navpin-plate">
                                <img class="navpin-plate-pic" src="/img/link-pin-plate.6d928d3b.svg" alt="dots">
                                <img class="navpin-plate__dots-1" src="/img/dots-1.82560447.svg" alt="dots">
                                <img class="navpin-plate__dots-2" src="/img/dots-1.82560447.svg" alt="dots">
                                <div class="navpin-plate-icon">
                                    <img src="/img/icon-navpin-plate-icon-2.svg" alt="navpin-plate-icon">
                                </div>
                            </div>
                            <div class="navpin-text text-sm uppercase ml-7 3xl:text-xs 3xl:ml-4 xl:ml-2 xl:text-[10px] lg:text-xs">Закладки</div>
                        </a>
                        <a class="navpin-item mt-[30px] first-of-type:mt-0 3xl:mt-4" href="#">
                            <div class="navpin-plate">
                                <img class="navpin-plate-pic" src="/img/link-pin-plate.6d928d3b.svg" alt="dots">
                                <img class="navpin-plate__dots-1" src="/img/dots-1.82560447.svg" alt="dots">
                                <img class="navpin-plate__dots-2" src="/img/dots-1.82560447.svg" alt="dots">
                                <div class="navpin-plate-icon">
                                    <img src="/img/icon-navpin-plate-icon-3.svg" alt="navpin-plate-icon">
                                </div>
                            </div>
                            <div class="navpin-text text-sm uppercase ml-7 3xl:text-xs 3xl:ml-4 xl:ml-2 xl:text-[10px] lg:text-xs">История просмотра</div>
                        </a>
                        <a class="navpin-item mt-[30px] first-of-type:mt-0 3xl:mt-4" href="#">
                            <div class="navpin-plate">
                                <img class="navpin-plate-pic" src="/img/link-pin-plate.6d928d3b.svg" alt="dots">
                                <img class="navpin-plate__dots-1" src="/img/dots-1.82560447.svg" alt="dots">
                                <img class="navpin-plate__dots-2" src="/img/dots-1.82560447.svg" alt="dots">
                                <div class="navpin-plate-icon">
                                    <img src="/img/icon-navpin-plate-icon-4.svg" alt="navpin-plate-icon">
                                </div>
                            </div>
                            <div class="navpin-text text-sm uppercase ml-7 3xl:text-xs 3xl:ml-4 xl:ml-2 xl:text-[10px] lg:text-xs">История покупок и продаж</div>
                        </a>
                    </div>
                </div>
            </div>
    </body>
    <script type="module" src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script type="module" src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script type="module" src="/build/main.js"></script>
</html>
