<a class="h-backlink" href="#">
    <img src="/img/icon-btn-12.svg" alt="btn-icon">
</a>
<nav class="nav flex ml-4 justify-between gap-x-5 gap-y-5 flex-wrap mr-10 ">
    <a class="nav-link-prim font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Главная</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Каталог</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Топ юзеров</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Отзывы</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Гарантии</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Случайные предметы</a>
    <a class="nav-link font-primary-bold text-sm text-[#8A98B3] uppercase 3xl:text-xs lg:text-sm" href="#">Форум</a>
</nav>
<div class="flex gap-4">
    <button class="btn btn-secondary notif-btn rounded-full w-11 h-11 justify-center cursor-pointer lg:w-[50px] lg:h-[50px]">
        <div class="btn-icon">
            <img src="/img/icon-vk.svg" alt="btn-vk">
        </div>
    </button>
    <button class="btn btn-secondary notif-btn notif-btn-a text-white rounded-full w-[160px] h-[55px] justify-center cursor-pointer">
        ВОЙТИ
    </button>
</div>
<div class="h-bar ml-auto flex items-center gap-x-3 hidden">
    <button class="h-openmenu menu-open menu-open-btn">
        <span>
        </span>
        <span>
        </span>
    </button>
    <div class="h-notif flex-shrink-0">
        <div class="notif">
            <button class="btn btn-secondary notif-btn rounded-full w-11 h-11 justify-center cursor-pointer lg:w-[50px] lg:h-[50px]">
                <div class="btn-icon text-white">
                    <img src="/img/icon-btn-icon-2.svg" alt="btn-icon">
                </div>
            </button>
            <div class="notif-content rounded-xl bg-white w-[290px] py-6">
                <div class="notif-h px-3 flex items-center justify-between flex-wrap gap-2.5 font-secondary-bold text-sm">
                    <div class="notif-heading text-black">
                        <span>Уведомления <span class="extra text-[color:var(--color-green-main)]">(+4)</span>
                        </span>
                    </div>
                    <div class="notif-total text-[#C8D5ED]">(43)</div>
                </div>
                <div class="notif-b mt-6">
                    <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                        <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                            <div class="btn-icon">
                                <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                            </div>
                        </div>
                        <div class="notif-item-inf flex-grow">
                            <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                            </div>
                            <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                        </div>
                    </div>
                    <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                        <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                            <div class="btn-icon">
                                <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                            </div>
                        </div>
                        <div class="notif-item-inf flex-grow">
                            <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                            </div>
                            <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                        </div>
                    </div>
                    <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                        <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                            <div class="btn-icon">
                                <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                            </div>
                        </div>
                        <div class="notif-item-inf flex-grow">
                            <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                            </div>
                            <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                        </div>
                    </div>
                    <div class="notif-item p-3 flex items-center gap-2 cursor-pointer duration-200 hover:bg-[#F6F9FF]">
                        <div class="notif-item-pic btn btn-secondary flex-shrink-0 rounded-full w-11 h-11 justify-center text-white">
                            <div class="btn-icon">
                                <img src="/img/icon-btn-icon-3.svg" alt="btn-icon">
                            </div>
                        </div>
                        <div class="notif-item-inf flex-grow">
                            <div class="notif-item-h flex items-center justify-between flex-wrap gap-2 text-xs">
                                <div class="notif-item-title font-secondary-bold text-black">Стол заказа!</div>
                                <div class="notif-item-time font-secondary-med text-[#C5CFE4]">22:15</div>
                            </div>
                            <div class="notif-item-text font-secondary-med text-[10px] text-[#A6B1C7]">Товар по вашему запросу был выставлен на продажу!</div>
                        </div>
                    </div>
                </div>
                <a class="notif-btnall mt-5 w-full border-b border-[#ECEDF7] py-1 flex justify-center duration-200 hover:bg-[#F6F9FF]" href="#">
                    <div class="btn-text font-primary-bold text-sm text-[#C5CFE4]">Показать все</div>
                </a>
            </div>
        </div>
    </div>
    <div class="h-profile w-[320px]">
        <div class="pmc h-14 rounded-full px-3 flex items-center gap-x-3 bg-white lg:mx-3 lg:bg-[#f6f9ff] lg:h-auto lg:min-h-[50px] lg:py-2">
            <div class="pmc-avatar flex-shrink-0 rounded-full w-8 h-8 lg:w-10 lg:h-10">
                <img class="w-full h-full object-cover" src="/img/avatar-example-2.9f0c98b7.png" alt="user avatar">
            </div>
            <div class="pmc-chip-bar flex gap-x-3 gap-y-2 items-center lg:flex-wrap lg:ml-auto">
                <a class="pmc-chip border rounded-full border-[#DCF1C4] px-2 py-1 flex items-center gap-x-2 duration-200 hover:bg-[#DCF1C4]" href="#">
                    <span class="font-primary-bold text-xs text-black whitespace-nowrap">1 521 100PD</span>
                </a>
                <a class="pmc-chip border rounded-full border-[#D2DFFB] px-2 py-1 flex items-center gap-x-2 duration-200 hover:bg-[#D2DFFB]" href="#">
                    <span class="font-primary-bold text-xs text-black whitespace-nowrap">533 100₽</span>
                    <img class="pmc-chip-icon w-4 h-4" src="/img/icon-plus-blue.a12eb4f0.svg" alt="picture">
                </a>
            </div>
            <div class="pmc-card-arrow h-profile-btn-open ml-auto text-[#D6D9EA] cursor-pointer hover:text-black">
                <img src="/img/icon-pmc-card-arrow.svg" alt="navpin-plate-icon">
            </div>
        </div>
        <div class="h-profile-content rounded-[22px] min-w-[290px] py-3 bg-white shadow-sm overflow-hidden">
            <div class="np hidden">
                <nav class="np-nav">
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/np-nav-icon.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Мои профиль</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/np-nav-icon-2.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Мои товары</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-4.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Стол заказов</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-5.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Достижения</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-6.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Настройки</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-7.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Пополение и вывод</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-8.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Реферальная система</div>
                    </a>
                    <a class="np-nav-item h-11 px-6 flex items-center gap-x-3 group duration-200 hover:bg-[#F6F9FF]" href="#">
                        <div class="np-nav-icon flex-shrink-0 w-4 flex justify-center [&amp;_svg]:max-w-full">
                            <img src="/img/icon-np-nav-icon-9.svg" alt="np-nav-icon">
                        </div>
                        <div class="np-nav-label font-primary-med text-sm text-[#8A98B3] duration-200 group-hover:text-[#0C0C0C]">Выйти из аккаунта</div>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</div>
