.wrapper {
  max-width: 1293px;
  width: 90%;
}

.font-h1 {
  font-family: "TTNorms-bold";
}

.main_btn {
  background: linear-gradient(36.87deg, #339cfc 18.57%, #0046d6 80.26%);
  box-shadow: 0px 4px 35px 0px rgba(51, 156, 252, 0.45);
}

.main_btn:hover {
  background: linear-gradient(36.87deg, #1c70be 18.57%, #013294 80.26%);
}

.dash {
  background-color: rgba(136, 136, 148, 1);
}

.info__item {
  background: #151022b5;
}

.footer_text {
  color: #ffffff4d;
}

.layout_grid_3 {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10% 1fr 9%;
}

.menu-open {
  display: none;
}

@media (max-width: 768px) {
  body {
    min-width: 100vw !important;
  }

  .widht {
    width: 100vw;
  }

  .layout_img {
    width: 100vw;
  }

  .wrapper {
    max-width: 334px;
  }

  .main {
    flex-direction: column;
  }
}
