{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "edge": "17",
        "firefox": "60",
        "chrome": "67",
        "safari": "11.1"
      },
      "exclude": ["transform-async-to-generator", "transform-regenerator"]
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-classes",
    ["module:fast-async", { "spec": true }]
  ],
  // "env": {
  //   "production": {
  //     "plugins": [
  //       ["@babel/transform-runtime", { "helpers": true, "regenerator": true }]
  //     ]
  //   }
  // }
}