

.family-bold {
    font-family: "TTNorms-bold";
}

.p-btn {
    background: linear-gradient(90deg, #8CD23C 0%, #417A00 100%);
    box-shadow: 0px 4px 35px 0px rgba(111, 176, 37, 0.25);
}

.p-btn:hover {
    background: linear-gradient(90deg, #6ba12e 0%, #305a00 100%);
}

.input-wrapper {
    position:relative;
}
  
.input-label {
    display: block;
}
  
  
.label {
    position: absolute;
    transition: all .2s ease;
    bottom: 25px;
    pointer-events: none;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-transform: uppercase;
}

.check {
    line-height: 20px !important;
}

.input-wrapper .input:not(:placeholder-shown)+.label,
.input-wrapper .input:focus+.label{
    bottom: 55%;
    font-size: 12px;
    text-transform: none;
}