body {
    display: block !important;

}

#navbar {
    position: fixed;
    width: 150px;
    right: 30px;
    top: 30px;
}

#dropdown-menu {
    width: 300px;
    right: 0;
}

#operator {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f3f7ff;
}

.btn {
    width: 130px;
    background-color: #198754;
    color: black;
}

input[readonly] {
    background-color: #c2c2c2;
}

.main {
    margin: 30px;
}

.hidden {
    display: none;
}

.category-form, .category-view {
    width: 300px;
}

.category-view p {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    justify-content: space-between;
}

.category-view p a {

}

.category-form .btn {
    margin: 15px 0;
}

.user-form .avatar-upload, .game-form .game-img-upload {
    margin: 15px 0;
}

.user-form .avatar-upload form, .game-form .game-img-upload form{
    display: flex;

}

.user-form .avatar-upload label, .game-form .game-img-upload label {
    display: none;
}

.file-index input[type="checkbox"], .field-grid input[type="checkbox"], .add-field-to-category input[type="checkbox"] {
    height: 100%;
    width: 100%;
    visibility: visible;
}

.breadcrumb > li {
    padding: 2px;
}

.breadcrumb > li:after {
    content: '  /';
}

.breadcrumb > li:last-child:after {
    content: '';
}

.form-group {
    margin-top: 3px;
}

.date-label {
    position: relative;
}

.date-hint {
    display: inline-block;
    margin-left: 10px;
}

.date-hint:hover > .date-hint-text {
    display: block;
}

.date-hint-text {
    position: absolute;
    top: 25px;
    width: 450px;
    height: 110px;
    border: 1px #000 solid;
    background-color: #fff;
    border-radius: 20px;
    display: none;
}

.date-hint-text > p {
    margin: 5px;
}
