body {
    display: block !important;

}
#navbar {
    position: fixed;
    width: 150px;
    right: 30px;
    top: 30px;
}
#dropdown-menu{
    width: 300px;
    right: 0;
}
#operator {
    display: flex;
    flex-flow: row nowrap;
    background-color: #f3f7ff;
}

.btn {
    width:130px;
    background-color: #198754;
    color: black;
}

input[readonly]
{
    background-color: #c2c2c2;
}
.main {
    margin:30px;
}

.hidden {
    display:none;
}

.category-form, .category-view {
    width: 300px;
}
.category-view p {
    display:  flex;
    flex-flow: row nowrap;
    margin-bottom: 15px;
    justify-content: space-between;
}
.category-view p a {

}

.category-form .btn {
    margin: 15px 0;
}

.user-form .avatar-upload {
    margin: 15px 0;
}
.user-form .avatar-upload form{
    display: flex;

}

.user-form .avatar-upload  label{
    display: none;
}