@font-face {
    font-family: "Acrom-bold";
    src: url("../fonts/acrom-bold.eot");
    src: url("../fonts/acrom-bold.eot") format("embedded-opentype"), url("../fonts/acrom-bold.woff") format("woff"), url("../fonts/acrom-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Acrom-medium";
    src: url("../fonts/acrom-medium.eot");
    src: url("../fonts/acrom-medium.eot") format("embedded-opentype"), url("../fonts/acrom-medium.woff") format("woff"), url("../fonts/acrom-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms-bold";
    src: url("../fonts/ttnorms-bold.eot");
    src: url("../fonts/ttnorms-bold.eot") format("embedded-opentype"), url("../fonts/ttnorms-bold.woff") format("woff"), url("../fonts/ttnorms-bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTNorms-medium";
    src: url("../fonts/ttnorms-medium.eot");
    src: url("../fonts/ttnorms-medium.eot") format("embedded-opentype"), url("../fonts/ttnorms-medium.woff") format("woff"), url("../fonts/ttnorms-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  height: 100%;
  font-family: 'TTNorms-medium';
}

button:focus {
  outline: none;
}