.toggleCheckbox {
    display: none;
}

.toggleCheckbox + label {
    display: inline-block;
    width: 42px;
    height: 24px;
    background: linear-gradient(0deg, rgba(206, 208, 232, 0.25), rgba(206, 208, 232, 0.25)), linear-gradient(0deg, #EAEBF8, #EAEBF8);
    border-radius: 17px;
    position: relative;
    cursor: pointer;
}

.toggleCheckbox + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
}
.toggleCheckbox:checked + label {
    background: linear-gradient(36.87deg, #339CFC 18.57%, #1E61EB 80.26%);
    box-shadow: 0px 25px 65px 0px #C5CAE0BF;
}
.toggleCheckbox:checked + label:after {
    transform: translateX(17px);
}

.form-select {
    background-image: url("/src/assets/images/arrow_select.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
   
    cursor: pointer; 
}